.central {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(32px);
    margin-top: rem(32px);
    &__title {
        max-width: rem(467px);
        font-size: clamp(rem(20px), 4vw, rem(40px));
        font-weight: 700;
        font-family: 'Arial';
        text-align: left;
        line-height: 1.3;
        text-transform: uppercase;
        color: $main-text-color;
        margin-bottom: rem(32px);
        @media (max-width: $breakpoint-mobile) {
            text-align: center;
            display: block;
        }
    }
    &__subtitle {
        max-width: rem(467px);
        display: flex;
        font-size: clamp(rem(16px), 2vw, rem(20px));
        font-weight: 400;
        font-family:'Arial';
        text-align: left;
        line-height: 1.3;
        color: $main-text-color;
        @media (max-width: $breakpoint-mobile) {
            text-align: center;
        }
    }
    &__image {
        max-width: 50%;
        height: auto;
        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
    }
}