* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    min-height: calc(100vh - rem(82px));
    background: $background-main-color;
}

.container {
    width: rem(1170px);
    max-width: calc(100% - rem(40px));
    margin: 0 auto;
    &--main {
        min-height: calc(100vh - (var(--footerHeight) + rem(100px)));
    }
}

.hamburger-open {
    overflow-y: hidden;
}