.photo {
    &__title {
        font-size: clamp(rem(27px), 6vw, rem(35px));
        font-weight: 700;
        font-family: 'Arial';
        text-align: center;
        text-transform: uppercase;
        color: $main-text-color;
        margin: rem(90px) 0 rem(48px) 0;
    }
    &__list {
        display: flex;
        gap: rem(65px);
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $breakpoint-mobile) {
            gap: rem(30px);
        }
    }
    &__picture {
        border-radius: rem(15px);
        width: 100%;
    }
}